footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    color: #f6f6f6;
    margin-left: 40px;
}

footer img {
    max-height: 7rem;
    margin-left: 40px;
}

.footer-nav {
    margin-right: 40px;
}

.footer-nav a {
    color: #f6f6f6;
    margin: 10px;
}